// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Jobify Colors
$j-light-blue: #06AED5;
$j-dark-blue: #086788;
$j-yellow: #F0C808;
$j-orange: #F35B04;
$j-cream: #F7FFF7;
$j-gray1: #F0F5F6;
$j-gray2: #E6EEF0;
$j-gray3: #D1DCDF;
$j-gray4: #CAD7DB;
$j-gray5: #ABBFC6;
$j-gray6: #8A9CA3;
$j-gray7: #72878F;
$j-gray8: #556870;
$j-gray9: #475A62;
$j-gray10: #32444B;
$j-gray11: #1F2D32;
$shadow: 0 10px 30px rgba(0,0,0,0.2);