.banner-home {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 80px;
}

.page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 80px;
  margin-left: 80px;
  h3 {
    font-size: 24px;
    padding: 50px 0 20px 0;
  }
}

.home-cards {
  display: flex;
  justify-content: space-between;
}

.core-value {
  width: 30%;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

a:hover {
  text-decoration: none !important;
}

.search-form-control .form-control {
  border-radius: 50px;
}

h4 {
  text-decoration: none;
  color: #8A9CA3;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: white ;
  border-top-color: white;
  border-right-color:white;
  border-bottom-color: #06AED5;
  border-bottom-style: solid;
  h4 {
    text-decoration: none;
    color: #06AED5;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #06AED5;
  background-color: white;
  border-color: white ;
  border-top-color: white;
  border-right-color:white;
  border-bottom-color: $j-dark-blue;
  h4 {
    text-decoration: none;
    color: $j-dark-blue;
  }
}

.circleBase {
  border-radius: 50%;
  border: 1px solid $j-dark-blue;
}

.type2 {
  width: 22px;
  height: 22px;
  background: white;
  color: $j-dark-blue;
}

.avatar-large-home {
  width: 56px;
  border-radius: 50%;
}
