.card-offer {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 800px;
  border-radius: 5px;
}

.card-offer img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  border: black;
  margin: 5px;
}

.card-offer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
x
.card-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-offer .card-offer-infos {
  padding: 30px;
  margin-left: 10px;
  padding-top: 50px;
}

.container-offer {
  align-items: center;
}

.card-dispatch {
  justify-content: space-between;
}