.container-height {
  min-height: 100vh;
}

.card-offer {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 800px;
  margin: auto;
  border-radius: 5px;
}

.card-offer img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  border: black;
  margin: 5px;
}

.card-offer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
x
.card-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-offer .card-offer-infos {
  padding: 15px 30px;
  margin-left: 10px;
  p {
    margin-bottom: 0;
  }
}

.container-offer {
  align-items: center;
}

.card-dispatch {
  justify-content: space-between;
  flex-grow: 1;
}

.card-company {
  overflow: hidden;
  min-height: 380px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
}

.money {
  padding: 15px;
  align-self: flex-end;
}

i.fas.fa-coins {
  color: $j-dark-blue;
}

i.far.fa-edit {
  color: $j-dark-blue;
  size: 20px;
}

i.far.fa-plus-square {
  color: $j-dark-blue;
  size: 20px;
}

i.fas {
  color: $j-dark-blue;
}

.container-infos {
  justify-content: space-between;
}

.steps-infos {
  padding-top: 5px;
}