<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/JBwcenOuRCg/1600x900);">
  <div class="home-container">
    <h1>Piloter, suivre, maitriser</h1>
    <h1>ta recherche d'emploi</h1><br>
    <p>Jobify simplifie ta recherche d'emploi<br>et assure le suivi de tes candidatures.</p><br>
    <a class="btn btn-warning rounded-pill" href="#">Commence maintenant</a>
  </div>
</div>

<div class="page-container">
	<h3>Jobify t'accompagne dans ta recherche d'emploi</h3>
	<div class="home-cards">
    <div class="core-value" style="background-position: bottom; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/NoRsyXmHGpI/800x600)">
    Simplicité
    </div>

    <div class="core-value two" style="background-position: top; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/AndE50aaHn4/800x600)">
    Gain de temps
    </div>

    <div class="core-value" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/376KN_ISplE/800x600)">
    Efficacité
    </div>
	</div>
  <br>
    <h3>Jobify t'accompagne dans ta recherche d'emploi</h3>
    <div class="home-cards">
    <div class="core-value" style="background-position: bottom; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/JHjKNOPC3lc)">
    Gain de temps
    </div>
    <div class="core-value two" style="background-position: top; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/AndE50aaHn4/800x600)">
    Gain de temps
    </div>
    <div class="core-value" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/376KN_ISplE/800x600)">
    Efficacité
    </div>
  </div>
</div>