<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/JBwcenOuRCg/1600x900);">
  <div class="home-container">
    <h1>Piloter, suivre, maitriser</h1>
    <h1>ta recherche d'emploi</h1><br>
    <p>Jobify simplifie ta recherche d'emploi<br>et assure le suivi de tes candidatures.</p><br>
    <a class="btn btn-warning rounded-pill" href="#">Commence maintenant</a>
  </div>
</div>

<div class="page-container">
	<h3>Jobify t'accompagne dans ta recherche d'emploi</h3>
	<div class="home-cards">
    <div class="core-value" style="background-position: bottom; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/NoRsyXmHGpI/800x600)">
    Simplicité
    </div>

    <div class="core-value two" style="background-position: top; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/AndE50aaHn4/800x600)">
    Gain de temps
    </div>

    <div class="core-value" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/376KN_ISplE/800x600)">
    Efficacité
    </div>
	</div>
</div>

  <div class="ref-banner">
    <div class="home-reference pb-1">
  <%# <h3>6 000+ candidats ont piloté leurs recherches d'emploi avec Jobify !</h3> %>
      <div class="image-reference col-3">
        <img src="https://avatars.githubusercontent.com/u/81180981?v=4" alt="Marc-Antoine">
      </div>
      <div class="text-reference col-8">
        <h5>Marc-Antoine</h5>
        <h4>Full Stack Developer - Google</h4>
        <p>J'étais souvent sollicité par les cabinets de recrutement et j'avais du mal à suivre toutes les offres qu'on me proposait, heureusement <strong>Jobify</strong> ma permis de me concentrer sur les meilleurs opportunités.</p>
      </div>
    </div>

    <div class="home-reference pt-1">
      <div class="text-reference col-8">
        <h5>Oceane</h5>
        <h4>Product Manager - Apple</h4>
        <p>Après une reconversion professionnelle, j'ai multiplié les candidature et grace à <strong>Jobify</strong> j'ai enfin trouvé le job que je cherchais.</p>
      </div>
      <div class="image-reference col-3">
        <img src="https://avatars.githubusercontent.com/u/75222773?v=4" alt="Oceane">
      </div>
    </div>
  </div>

