<h1>Bonjour <%= @user.first_name %></h1>

<div>
  <div> Candidatures à envoyer :
    <%= @candidatures.count %>
  </div>
  <div>Entretiens à préparer :
  <%= @entretiens.count %>
  </div>
  <div> Relances : 2
  </div>
</div>

<div>
  semaine 1
</div>

<div>
  semaine 2
</div>

<div>
  graph
</div>
