.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.color-container {
  // background-color: #086788;
  color: white;
}

.card-offer-banner {
  // overflow: hidden;
  // height: 120px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  color: white;
  align-items: center;
  width: 55%;
  margin: auto;
  border-radius: 5px;
  padding-top: 160px;
}

.card-offer-banner img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  background-color: white;
  margin: 5px;
  padding: 10px;
  margin-right: 20px;
}

.card-offer-banner h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-offer .card-offer-infos {
  padding: 15px 30px;
  margin-left: 10px;
  p {
    margin-bottom: 0;
  }
}

.container-offer {
  align-items: center;

}

.card-dispatch {
  justify-content: space-between;
  flex-grow: 1;
}

.card-company {
  overflow: hidden;
  // min-height: 380px;
  // min-width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 30px 20px;
  width: 27%;
}

.next-step {
  font-size: 20px;
  font-weight: 700;
  color: #F7FFF7;
}

.blue-title {
  font-size: 22px;
}


.card-offer {

  h2.status-label {
    background-color: #06AED5;
    color: white;
    font-size: 10px ;
    line-height: 12px ;
    border-radius: 4px ;
    font-weight: 800 ;
    padding: 6px 8px ;
    text-transform: uppercase ;
    position: absolute;
    top: 25px;
    right: 32px;
    display: flex ;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      height: 10px;
      width: 10px;
      color: white;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 8px;
    }

    &.A.postuler {
      &:before {
        background: $j-light-blue;
        content:"\f02e";
      }
    }

    &.Candidature.envoyée {
      &:before {
        background: $j-light-blue;
        content: "\f1d8";
      }
    }

    &.Proposition.recevoir {
      &:before {
        background: $j-light-blue;
        content: "\f573";
      }
    }
    &.Entretien {
      &:before {
        background: $j-light-blue;
        content: "\f2b5";
      }
    }

    &.Echange.téléphonique {
      &:before {
        background: $j-light-blue;
        content: "\f2a0";
      }
    }
    &.Refus.du.recruteur {
      &:before {
        background: red;
        content: "\f057";
      }
    }
    &.Refus.du.candidat {
      &:before {
        background: red;
        content: "\f057";
      }
    }
    &.Proposition.acceptée {
      &:before {
        background: greenyellow;
        content: "\f058";
      }
    }
  }
}
